/* ---------- BODY */

body {
	font-family: Verdana;
	background: radial-gradient(#ffffff, #57788C);
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
	/* pour centrer tout le site */
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	height: 2500px;
	width: 1080px;
}

/***** Titre de la page *****/

h1 {
	font-size: 40px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

p,
ul {
	font-size: 15px;
	margin-left: 90px;
	margin-right: 100px;
	line-height: 25px;
}

li {
	margin-left: 20px;
}

.maps {
	text-align: center;
	font-weight: bold;
}

.map {
	text-align: center;
	padding: 10px 20px 10px 20px;
	background-color: #ffffff73;
	border-radius: 20px;
	margin-right: 10px;
}

.month {
	color: #000000;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

/***** Block photos et calendrier *****/

.block-pictures {
	max-width: 1000px;
	position: relative;
	margin: auto;
	padding-top: 50px;
}

.block-calendar {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Titre du calendrier */
h2 {
	font-size: 30px;
	text-align: center;
	padding-top: 50px;

}

/***** Flèches *****/

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 15px;
	color: black;
	font-weight: bold;
	font-size: 25px;
	transition: 0.6s ease;
	border-radius: 10px 0 0 10px;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 0 10px 10px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

/***** Images photos et calendrier *****/

.pictures>img,
.calendar>img {
	width: 90%;
}

.pictures,
.calendar {
	text-align: center;

}

/***** Puces photos et puces calendrier *****/

.dotPictures,
.dotCalendar {
	text-align: center;
}

.dotP,
.dotC {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #999999;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #111111;
}

/***** Saisons *****/

.season {
	text-align: center;
	font-weight: bold;
}

.high_season {
	padding: 10px 20px 10px 20px;
	background-color: #F4B084;
	border-radius: 20px;
}

.average_season {
	padding: 10px 20px 10px 20px;
	background-color: #BE79F3;
	border-radius: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

.low_season {
	padding: 10px 20px 10px 20px;
	background-color: #9BC2E6;
	border-radius: 20px;
	margin-right: 10px;
}

.no_free {
	padding: 10px 20px 10px 20px;
	background-color: #FF6669;
	border-radius: 20px;
}

/***** Contact *****/

.contact {
	text-align: center;
	padding-top: 100px;
}

.contactTitle {
	font-size: 25px;
	font-weight: bold;
}

.mail {}